<div class="search terms-search">
  <%= form_with(model: search_term, local: true) do |form| %>
    <% if search_term.errors.any? %>
      <div id="error_explanation">
        <h4>Error</h4>

        <ul>
        <% search_term.errors.full_messages.each_with_index do |message| %>

          <li style="list-style: none; font-size: .75rem; margin: 0"><b><%= index =+ 1 %>)</b> <%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


    <div class="field">
      <%= form.label "Enter Query" %>
      <%= form.text_area :query, size: "60x3" %>
    </div>

    <div class="actions">
      <%= form.submit "SUBMIT" %>
    </div>
  <% end %>
</div>
