<% if @search_terms %>
  <h4>
    Total Terms: <%= @search_terms.count %>
    <br/>
    In Queue: <%= SearchTerm.where(searched: false).count %>
  </h4>

  <div class="terms">
    <% @search_terms.each do |search_term| %>
      <div class="term">
        <div>
          <b>Query:</b> <%= search_term.query %>
        </div>
        <div>
          <b>Active Search:</b>
          <% if search_term.searched %>
            No
          <% else %>
            Yes
          <% end %>
        </div>
        <% if search_term.bookmark.blank? %>
          <div><b>Bookmark:</b> No</div>
        <% else %>
          <div>
            <b>Bookmark Page: </b><%= search_term.bookmark.page_number %>
            <div class="bookmark-url">
              <b>Bookmark URL:</b>
              <% unless search_term.bookmark.url %>
                N/A
              <% else %>
                <%= search_term.bookmark.url %>
              <% end %>
            </div>
          </div>
        <% end %>

        <%= link_to 'EDIT', edit_search_term_path(search_term), class: "button" %>
        <%= link_to 'DELETE', search_term, method: :delete, data: { confirm: 'Are you sure?' },
                                           class: "button delete-button" %>
      </div>

    <% end %>
  </div>
<% else %>
  <h2 style="text-align: center">There are no profiles.</h2>
<% end %>

<%= will_paginate @search_terms, inner_window: 1, outer_window: 1 %>
