<div class="admin-bar">
    <h2>Admin</h2>
    <hr>
    <ul>
    <% if user_signed_in? %>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Statistics", calendar_path %></li>
      <li><%= link_to "Profiles", profiles_path %></li>
      <li><%= link_to "Create Profiles", new_profile_path %></li>
      <li><%= link_to "Search Terms", search_terms_path %></li>
      <li><%= link_to "Create Terms", new_search_term_path %></li>
      <li><%= link_to 'My Settings', edit_user_registration_path %></li>
      <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to 'Login', new_user_session_path %></li>
    <% end %>
  </ul>
</div>
